body, html {
    background-color: #F5F5F5;
    height: 100%;
    display: grid;
}
.form-control{
    height: calc(1.5em + .75rem + 10px);
}
form {
    top: 25vh;
}

.btn-success {
    background-color: #006B38FF;
}

.container{
    margin: auto;
}

