body {
    background-color: #F5F5F5;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.btn-success {
    background-color: #006B38FF;
}

.form-container {
    margin: auto;
    background: #f7f7f7;
    padding-top: 250px;
}

.navbar {
    height: 60px;
}

.navbar-nav {
    flex-direction: row;
}

li {
    padding-left: 2em;
}

.form-control {
    height: calc(1.5em + .75rem + 10px);
}

form {
    top: 25vh;
}
