<!DOCTYPE html>
<html>
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Spark Application</title>
</head>
<body>
<div>
    <form action="/graph" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
<script src="js/main.js"></script>
</body>
</html>
